<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>KittyTinder</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

	<h1>Add kitty</h1>
	<br></br>
	<div>
		<div class="col-md-4">
			<form action="#" th:action="@{/save}" th:object="${kitty}" method="post">
				<p></p>
				<a th:href="@{/addphoto/{id}(id=${kitty.id})}" class="btn btn-xs btn-success">Add profile picture</a>
				<p></p>
				
				<p>Name: <input type="text" th:field="*{name}" /></p>
				<div style="clear: both; display: block; height: 10px;"></div>
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
	
				<p>Age: <input type="text" th:field="*{age}" /></p>
				<div style="clear: both; display: block; height: 10px;"></div>
				<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</p>
				
				<p>Introduction: <input type="text" th:field="*{intro}" /></p>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<p>Age Category: </p>
				<select id="categlist" th:field="*{agecategory}" >
	       			<option th:each="agecategory: ${agecategories}" th:value="${agecategory.agecategoryid}" th:text="${agecategory.name}"></option>
	    		</select>
	    		<br></br>
				<p><input type="submit" value="Submit" class="btn btn-s btn-success" /></p>
				<div style="clear: both; display: block; height: 10px;"></div>
			</form>
		</div>
	</div>
</body>
</html>