<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>KittyTinder</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form th:object="${kitty}" th:action="@{../save}" action="#" method="post">
		
		<input type="hidden" th:field="*{id}" class="form-control"/>
		<input type="text" th:field="*{name}" />
		<input type="text" th:field="*{age}" />
		<select id="categlist" th:field="*{agecategory}" class="form-control">
       			<option th:each="agecategory: ${agecategories}" th:value="${agecategory.agecategoryid}" th:text="${agecategory.name}"></option>
    		</select>
			
		
		<input type="submit" class="btn btn-success" value="Save"></input>
	</form>


</body>
</html>